<script type="text/javascript">
  (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  var tetetete = ga;

  ga('create', 'UA-67035328-1', 'auto');
  ga('send', 'pageview');




  (function() {
    var $wrapper = $('.tocify-wrapper');
    if ($wrapper.length !== 0) {
      var $selectedItem = $('.tocify-level-2.tocify-focus', $wrapper);

      if ($selectedItem.length === 0) {
        $selectedItem = $('.tocify-focus', $wrapper);
      }

      if ($selectedItem.get(0).offsetTop + 150 > $wrapper.height()) {
        $wrapper.scrollTop($selectedItem.get(0).offsetTop - $wrapper.height() / 2)
      }
    }
  })();




  (function() {
    var client = algoliasearch("4RFBRWISJR", "6febf1ebe906bd82bce58d5a20ac6c1b");
    var index = client.initIndex('kuzzle-documentation');
    var template = $('#search-results-template').html();
    var $searchResults = $('.search-results');
    var $searchResultsContainer = $('ul', $searchResults);
    var watchClose = false;
    var lastHits = 0;

    $(window).on('click', function() {
      if (watchClose) {
        $searchResults.removeClass('display');
        watchClose = false;
      }
    });

    $('.search input[type=search]').on('click', function(event) {
      if (lastHits > 0) {
        $searchResults.addClass('display');
        watchClose = true;
      }
      event.stopPropagation();
    });

    $('.search input[type=search]').on('focus', function(event) {
      if (lastHits > 0) {
        $searchResults.addClass('display');
        watchClose = true;
      }
      event.stopPropagation();
    });

    $('.search input[type=search]').on('blur', function(event) {
      if (lastHits > 0) {
        $searchResults.addClass('display');
        watchClose = true;
      }
      event.stopPropagation();
    });

    $('.search input[type=search]').on('input', function(event) {
      var $input = $(this);
      var searchResultsContent = '';

      if (this.value === '') {
        $searchResultsContainer.empty();
        $searchResults.removeClass('display');
        watchClose = false;
        return
      }

      index.search(this.value, function(err, res) {
        if (err) {
          console.error(err);
          return;
        }

        lastHits = res.hits.length;

        if (lastHits === 0) {
          $searchResultsContainer.empty();
          $searchResults.removeClass('display');
          return
        }

        $searchResults.addClass('display');
        watchClose = true;

        for (var key in res.hits) {
          var content = template;

          var elements = res.hits[key]._snippetResult.content.value.split('<em>')
          var preview = ''

          for (var k in elements) {
            elements[k] = elements[k].replace(/</g, '&lt;')
            elements[k] = elements[k].replace(/>/g, '&gt;')
          }
          preview = elements.join('<em>')
          preview = preview.replace(/&lt;\/em&gt;/g, '</em>')

          content = content.replace(/__link__/g, '/' + res.hits[key].path);
          content = content.replace(/__parent__/g, res.hits[key].parent || '');
          content = content.replace(/__firstMember__/g, res.hits[key].firstMember || '');
          content = content.replace(/__title__/g, res.hits[key]._highlightResult.title.value);
          content = content.replace(/__preview__/g, preview);

          searchResultsContent += content;
        }

        searchResultsContent += '<li><img src="https://www.algolia.com/assets/pricing_new/algolia-powered-by-ac7dba62d03d1e28b0838c5634eb42a9.svg" style="margin: 8px 8px 0 0;"></li>';

        $searchResultsContainer.html(searchResultsContent);

        $('a', $searchResultsContainer).on('click', function(event) {
          ga('send', 'event', {
            eventCategory: 'documentation-search',
            eventAction: this.href,
            eventLabel: $('.search input[type=search]').val(),
            transport: 'beacon'
          });
        });
      });
    })
  })();
</script>
