<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="{{ site_base_path }}assets/javascript/lib/jquery.barrating.js"></script>

<script type="text/javascript">
  // store helper
  var store = function store(key, value) {
    var lsSupport = false;

    // Check for native support
    if (localStorage) {
      lsSupport = true;
    }

    // If value is detected, set new or modify store
    if (typeof value !== "undefined" && value !== null) {
      // Convert object values to JSON
      if ( typeof value === 'object' ) {
        value = JSON.stringify(value);
      }
      // Set the store
      if (lsSupport) { // Native support
        localStorage.setItem(key, value);
      } else { // Use Cookie
        createCookie(key, value, 30);
      }
    }

    // No value supplied, return value
    if (typeof value === "undefined") {
      // Get value
      if (lsSupport) { // Native support
        data = localStorage.getItem(key);
      } else { // Use cookie
        data = readCookie(key);
      }

      // Try to parse JSON...
      try {
        data = JSON.parse(data);
      }
      catch(e) {
        data = data;
      }

      return data;
    }

    // Null specified, remove store
    if (value === null) {
      if (lsSupport) { // Native support
        localStorage.removeItem(key);
      } else { // Use cookie
        createCookie(key, '', -1);
      }
    }

    /**
     * Creates new cookie or removes cookie with negative expiration
     * @param  key       The key or identifier for the store
     * @param  value     Contents of the store
     * @param  exp       Expiration - creation defaults to 30 days
     */
    function createCookie(key, value, exp) {
      var date = new Date();
      date.setTime(date.getTime() + (exp * 24 * 60 * 60 * 1000));
      var expires = "; expires=" + date.toGMTString();
      document.cookie = key + "=" + value + expires + "; path=/";
    }

    /**
     * Returns contents of cookie
     * @param  key       The key or identifier for the store
     */
    function readCookie(key) {
      var nameEQ = key + "=";
      var ca = document.cookie.split(';');
      for (var i = 0, max = ca.length; i < max; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }
  };






  // google analytics
  (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-67035328-1', 'auto');
  ga('send', 'pageview');

  (function scrollToHash() {
    if (window.location.hash != '') {
      var anchor = $(location.hash).get(0);
      if (anchor) {
        anchor.scrollIntoView();
      }
    }
  })();




  (function mobileNavBuger() {
    var $body = $('body');

    $('.mobile-nav-burger').on('click', function() {
      $body.toggleClass('nav-burger-open');
    });
  })();







  (function rateDocumentation() {
    var $rateDocumentation = $('.rate-documentation');
    var pagePath = '{{ path }}'.replace(/\//g, '-');
    var categoryRating = parseInt(store('rate-documentation-' + pagePath));

    $rateDocumentation.barrating({
      theme: 'fontawesome-stars',
      initialRatting: 0,
      allowEmpty: true,
      onSelect: function(value, text, event) {
        if (typeof(event) !== 'undefined') {
          // rating was selected by a user
          store('rate-documentation-' + pagePath, event.target.dataset.ratingValue);
          $rateDocumentation.barrating('set', event.target.dataset.ratingValue);
          // $rateDocumentation.barrating('readonly', true); // wired on mobile

          ga('send', 'event', {
            eventCategory: 'documentation-rate',
            eventAction: '{{ site_url }}{{ site_base_path }}{{ path }}',
            eventLabel: event.target.dataset.ratingText,
            transport: 'beacon'
          });

          window.setTimeout(function() {
            $('.br-current-rating').css('transition', 'opacity 0.15s');
            $('.br-current-rating').css('opacity', '0');

            window.setTimeout(function() {
              $('.br-current-rating').css('transition', 'opacity 0.9s');
              $('.br-current-rating').text("thank's for feedback !");
              $('.br-current-rating').css('opacity', '1');
            }, 140);
          }, 1);

          window.setTimeout(function() {
            $('.br-current-rating').css('opacity', '0');

            window.setTimeout(function() {
              $('.br-current-rating').css('transition', 'opacity 0.2s');
              if (event.target.dataset.ratingText === 'Excellent documentation') {
                $('.br-current-rating').text(event.target.dataset.ratingText + ' \\o/');
              }
              else {
                $('.br-current-rating').text(event.target.dataset.ratingText);
              }
              $('.br-current-rating').css('opacity', '1');
            }, 1000);
          }, 2500);
        }
        else {
          // rating was selected programmatically
          // by calling `set` method
        }
      }
    });

    $('.br-current-rating').addClass('visible');

    if (!isNaN(categoryRating)) {
      $rateDocumentation.barrating('set', categoryRating);
      $rateDocumentation.barrating('readonly', true);
    }
  })();











  (function leftNavUX() {
    var $wrapper = $('.tocify-wrapper');

    if ($wrapper.length !== 0) {
      var $selectedItem = $('.tocify-level-2.tocify-focus', $wrapper);

      if ($selectedItem.length === 0) {
        $selectedItem = $('.tocify-focus', $wrapper);
      }

      if ($selectedItem.get(0).offsetTop + 120 > $wrapper.height()) {
        $wrapper.scrollTop(Math.ceil($selectedItem.get(0).offsetTop - $wrapper.height() / 2));
      }
    }
  })();









  (function tocUX() {
    var $toc = $('.toc');
    var $content = $('.content');

    //----------------------------
    // fixes toc next to content
    if ($toc.length > 0) {
      var debounceComputeSize = false;
      var computeSize = function() {
        // 280 is the width of left nav / 15 is the margin with content
        $toc.css('left', $content.get('0').offsetLeft + $content.get('0').offsetWidth + 280 + 15 +'px');
        // 30 is the margin with bottom window
        $toc.css('max-height', window.innerHeight - $toc.get('0').offsetTop - 30  + 'px');
      }

      $(window).on('resize', function() {
        clearTimeout(debounceComputeSize);
        debounceComputeSize = setTimeout(computeSize, 13);
      })
      computeSize();
    }
    //----------------------------

    //---------------------------------------------------------------------
    // toogle 'active' class on toc link when headings pass window offset
    if ($toc.length > 0) {
      var headings = {};
      var debounceActiveItem = false;
      var computeActiveItem = function() {
        var lastPassedItem;

        for (let key in headings) {
          headings[key].$link.removeClass('active');

          if (headings[key].offset <= window.pageYOffset + 70) {
            lastPassedItem = headings[key];
          }
        }

        if (lastPassedItem) {
          lastPassedItem.$link.addClass('active');
        }
      }

      $('a[href]', $toc).each(function(index, element) {
        var id = element.href.slice(element.href.indexOf('#'));
        var $ref = $(id).parent();

        if ($ref.length > 0) {
          headings[id] = {
            $ref: $ref,
            $link: $(element),
            offset: $ref.get('0').offsetTop
          }
        }
      });

      $(window).on('scroll', function() {
        clearTimeout(debounceActiveItem);
        debounceActiveItem = setTimeout(computeActiveItem, 10);
      })
      computeActiveItem();
    }
    //---------------------------------------------------------------------
  })();

















  //---------------------------------------------------------------------
  // copy code to clipboard button
  (function codeClipboard() {
    $hljs = $('.hljs');

    if ($hljs.length > 0) {
      var debounceClipboard = false;
      var clipboardSnippets;

      function fallbackMessage(action) {
          var actionMsg = '';
          var actionKey = (action === 'cut' ? 'X' : 'C');
          if (/iPhone|iPad/i.test(navigator.userAgent)) {
              actionMsg = 'No support :(';
          } else if (/Mac/i.test(navigator.userAgent)) {
              actionMsg = 'Press ⌘-' + actionKey + ' to ' + action;
          } else {
              actionMsg = 'Press Ctrl-' + actionKey + ' to ' + action;
          }
          return actionMsg;
      }

      $hljs.each(function(index, element) {
        $(element).before('<button class="clipboard" title="copy code to clipboard" data-clipboard-snippet><i class="fa fa-clipboard" aria-hidden="true"></i></button>');
      })

      clipboardSnippets = new Clipboard('[data-clipboard-snippet]', {
          target: function(trigger) {
              return trigger.nextElementSibling;
          }
      });

      clipboardSnippets.on('success', function(e) {
          e.clearSelection();
          $(e.trigger).text('Copied!')

          clearTimeout(debounceClipboard);
          debounceClipboard = setTimeout(function() {
            $(e.trigger).html('<i class="fa fa-clipboard" aria-hidden="true"></i>');
          }, 1200);
      });
      clipboardSnippets.on('error', function(e) {
        e.clearSelection();
        $(e.trigger).text(fallbackMessage(e.action));

        clearTimeout(debounceClipboard);
        debounceClipboard = setTimeout(function() {
          $(e.trigger).html('<i class="fa fa-clipboard" aria-hidden="true"></i>');
        }, 2400);
      });
    }
  })();
  //---------------------------------------------------------------------








  //---------------------------------------------------------------------
  // language tab selector
  (function languageTabSelector() {
    var $languageTabSelector = $('.language-tab-selector a');
    var pageCategory = '{{ ancestry.parent.path }}'.replace(/\//g, '-');
    var selectedLanguage = store('selected-language' + pageCategory);

    if (selectedLanguage) {
      if ($('.language-tab[data-language="' + selectedLanguage + '"]').length > 0) {
        $('.language-tab-active').removeClass('language-tab-active');
        $('.language-tab-selector a[data-language-name="' + selectedLanguage + '"]').addClass('language-tab-active');
        $('.language-tab[data-language="' + selectedLanguage + '"]').addClass('language-tab-active');
      }
    }

    if ($languageTabSelector.length > 0) {
      $languageTabSelector.on('click touch', function(e) {
        e.preventDefault();
        e.stopPropagation();

        var language = $(this).data('languageName');

        $('.language-tab-active').removeClass('language-tab-active');
        $('.language-tab-selector a[data-language-name="' + language + '"]').addClass('language-tab-active');
        $('.language-tab[data-language="' + language + '"]').addClass('language-tab-active');

        store('selected-language' + pageCategory, language)
      });
    }
  })();
  //---------------------------------------------------------------------









  (function instantSearchUI() {
    var KEY_UP = 38;
    var KEY_DOWN = 40;
    var client = algoliasearch("{{ algolia_projectId }}", "{{ algolia_publicKey }}");
    var index = client.initIndex('kuzzle-documentation');
    var template = $('#search-results-template').html();
    var $searchInput = $('.search input[type=search]');
    var $searchResults = $('.search-results');
    var $searchResultsContainer = $('ul', $searchResults);
    var watchResultsDebounce = false;
    var selectedIndex = -1;
    var watchClose = false;
    var lastHits = 0;

    // focus search input on content loaded
    $searchInput.focus();


    $(window).on('keydown', function (event) {
      if (watchClose) {
        var $results = $('a', $searchResultsContainer);
        var $focusResult = $('a:hover, a:focus', $searchResultsContainer);

        if ($focusResult.length > 0) {
          $results.each(function(index, element) {
            console.log('key:', index, $results[index], $focusResult.get(0));

            if ($results[index] === $focusResult.get(0)) {
              selectedIndex = index;
            }
          })
        }

        console.log('post selectedIndex:', selectedIndex, $results.length, $focusResult.length);

        switch (event.keyCode) {
          case KEY_UP:
            event.stopPropagation();
            if (selectedIndex === 0) {
              selectedIndex = -1;
            }

            if (selectedIndex === -1) {
              $searchInput.focus();
              selectedIndex = $results.length - 1;
            }
            else {
              selectedIndex -= 1;
              $results.get(selectedIndex).focus();
            }
            //$('li:not(:last-child).selected').removeClass('selected').next().addClass('selected');

            return false;
          case KEY_DOWN:
            event.stopPropagation();
            if (selectedIndex >= $results.length -1) {
              $searchInput.focus();
              selectedIndex = -1;
            }
            else {
              selectedIndex += 1;
              $results.get(selectedIndex).focus();
            }
            //$('li:not(:first-child).selected').removeClass('selected').prev().addClass('selected');
            return false;
        }
      }
    });

    // search results open/close handlers
    $(window).on('click touch', function() {
      console.log('?')
      if (watchClose) {
        $searchResults.removeClass('display');
        watchClose = false;

        if (watchResultsDebounce) {
          window.clearTimeout(watchResultsDebounce);
        }
      }
    });

    $searchInput.on('click touch', function(event) {
      if (lastHits > 0) {
        $searchResults.addClass('display');
        watchClose = true;
      }
      event.stopPropagation();
    });

    $searchInput.on('focus', function(event) {
      if (lastHits > 0) {
        $searchResults.addClass('display');
        watchClose = true;
      }

      selectedIndex = -1;
    });

    $searchInput.on('blur', function(event) {
      if (lastHits > 0) {
        $searchResults.addClass('display');
        watchClose = true;
      }
    });
    // end - search results open/close handlers


    // main input listener
    $searchInput.on('input', function(event) {
      var $input = $(this);
      var searchResultsContent = '';
      // var length = (this.value.length + 1) * 6;

      selectedIndex = -1;

      // // resize input length to fit value
      // length = (length > 450) ? 450 : length;
      // this.style.width = (length > 220) ? length + 'px' : '220px';


      // clear search result on empty input
      if (this.value === '') {
        $searchResultsContainer.empty();
        $searchResults.removeClass('display');
        watchClose = false;

        return;
      }

      index.search(this.value, function(err, res) {
        if (err) {
          console.error(err);
          return;
        }

        lastHits = res.hits.length;
        if (watchResultsDebounce) {
          window.clearTimeout(watchResultsDebounce);
        }

        if (lastHits === 0) {
          $searchResultsContainer.empty();
          $searchResults.removeClass('display');
          return;
        }

        // send ga event when user has search results but does nothing
        watchResultsDebounce = window.setTimeout(function() {
          ga('send', 'event', {
            eventCategory: 'documentation-search',
            eventAction: (lastHits > 0) ? '<watch_results>' : '<no_results>',
            eventLabel: $searchInput.val(),
            transport: 'beacon'
          });
        }, 4000);

        $searchResults.addClass('display');
        watchClose = true;

        // make search result item from
        for (var key in res.hits) {
          var content = template;

          // here we secure manualy all xml tags wich may can be retrieved by results, but we keep <em> tags for highlighting
          var elements = res.hits[key]._snippetResult.content.value.split('<em>');
          var preview = '';

          for (var k in elements) {
            elements[k] = elements[k].replace(/</g, '&lt;');
            elements[k] = elements[k].replace(/>/g, '&gt;');
          }

          // restore <em></em> tags
          preview = elements.join('<em>');
          preview = preview.replace(/&lt;\/em&gt;/g, '</em>');

          // replace variables in template
          content = content.replace(/__tabindex__/g, key + 2);
          content = content.replace(/__link__/g, '{{ site_url }}{{ site_base_path }}' + res.hits[key].path);
          content = content.replace(/__parent__/g, res.hits[key].parent || '');
          content = content.replace(/__firstMember__/g, res.hits[key].firstMember || '');
          content = content.replace(/__title__/g, res.hits[key]._highlightResult.title.value);
          content = content.replace(/__preview__/g, preview);

          searchResultsContent += content;
        }

        // add algolia copyright
        searchResultsContent += '<li style="text-align: right"><img src="https://www.algolia.com/assets/pricing_new/algolia-powered-by-ac7dba62d03d1e28b0838c5634eb42a9.svg" style="margin: 8px 8px 0 0;"></li>';

        // magic jQuery
        $searchResultsContainer.html(searchResultsContent);

        // send ga event on search result hit
        $('a', $searchResultsContainer).on('click touch', function(event) {
          ga('send', 'event', {
            eventCategory: 'documentation-search',
            eventAction: this.href,
            eventLabel: $searchInput.val(),
            transport: 'beacon'
          });
        });
      });
    });

  })();
</script>
