<div class="tocify-wrapper">
  <ul class="search-results"></ul>

  <div class="tocify">
    <ul  class="tocify-header">
      <li class="tocify-item tocify-focus tocify-hover"></li>
    </ul>
    <ul  class="tocify-header">
      <li class="tocify-item"><a style="color: #111; text-decoration: none;" href="{{ site_url }}{{ site_base_path }}{{ ancestry.parent.path }}" title="back to {{ ancestry.parent.title }} home">{{ ancestry.parent.title }}</a></li>
      <ul class="tocify-subheader">
        {{#each ancestry.siblings}}
        {{#if separator}}
        </ul>
        <li class="tocify-item"><a style="color: #111; text-decoration: none;" href="{{ ../site_base_path }}{{ ancestry.parent.path }}/#{{ separator }}" title="back to {{ ancestry.parent.title }} home">{{ separator }}</a></li>
        <ul class="tocify-subheader">
        {{/if}}

        {{#if (eq path ../ancestry.firstMember.path)}}
        <li class="tocify-item tocify-focus"><a style="color: #FFF; text-decoration: none;" href="#" title="{{firstDefinedOf description title }}">{{ title }}</a></li>
          <ul  class="tocify-header">
            <ul class="tocify-subheader">
              {{#each ../ancestry.members}}
                {{#if (or show-subheader (ne @key 0))}}
                  {{#if (or (eq path ../../path) (eq path ../path))}}
                    <li class="tocify-item tocify-level-2 tocify-focus"><a style="color: #FFF; text-decoration: none;" href="{{firstDefinedOf ../../site_base_path ../site_base_path}}{{ path }}" title="{{firstDefinedOf description title }}">&rsaquo; {{firstDefinedOf subheader-title title}}</a></li>
                  {{else}}
                    <li class="tocify-item tocify-level-2"><a style="color: #002835; text-decoration: none;" href="{{firstDefinedOf ../../site_base_path ../site_base_path}}{{ path }}" title="{{firstDefinedOf description title }}">&rsaquo; {{firstDefinedOf subheader-title title}}</a></li>
                  {{/if}}
                {{/if}}
              {{/each}}
            </ul>
          </ul>
        {{else}}
          {{#if show-subheader}}
            <li class="tocify-item"><a style="color: #002835; text-decoration: none;" href="{{ ../site_base_path }}{{ path }}" title="{{firstDefinedOf description title }}">{{ title }}</a></li>
          {{else}}
            <li class="tocify-item"><a style="color: #002835; text-decoration: none;" href="{{ ../site_base_path }}{{firstDefinedOf ancestry.nextMember.path path }}" title="{{firstDefinedOf description title }}">{{ title }}</a></li>
          {{/if}}
        {{/if}}
        {{/each}}
      </ul>
    </ul>
    <ul class="toc-footer">
      <!-- community links here ! -->

      {{#each versions_config}}
        {{#if (eq ../site_base_path version_path)}}
          <li><span style="color:#717171">{{version_label}}</span></li>
        {{else}}
          <li><a href="{{version_path}}{{ path }}">{{version_label}}</a></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
