<div class="tocify-wrapper">
  <ul class="search-results"></ul>

  <div id="version-selector">
    <label>
      select version:
      <select>
        <option value="/">v1.0.x (current)</option>
        <option value="/v/edge">next</option>
      </select>
    </label>
  </div>

  <div id="toc" class="tocify"></div>

  <ul class="toc-footer">
    <li><a href="http://kuzzle.io">Kuzzle official website</a></li>
    <li><a href="http://github.com/kuzzleio/kuzzle">Kuzzle on GitHub</a></li>
    <li><a href="http://github.com/tripit/slate">Documentation Powered by Slate</a></li>
  </ul>
</div>
