*.log
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

home/api-reference
home/elasticsearch-cookbook
home/guide
home/plugin-reference
home/real-time-filters
home/sdk-reference
home/validation-reference
