@charset "utf-8";
@import '../normalize';
@import '../variables';
@import '../syntax';
@import '../icon-font';
@import '../default';


.container {
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;

  .page-wrapper {
    margin-left: 0;
    padding-top: 1px;
    background-color: #f0f0f0;
  }
}


.content {
  position: relative;
  z-index: 30;
  max-width: none;
  margin: 50px 70px;

  // position: relative;
  // z-index: 30;
  // padding-bottom: 40px;
  // max-width: none;
  // background-color: none;


  .main-content {
    float: left;
    width: 45%;

    &> p {
      padding: 5px 25px
    }

    &> table,
    &> aside,
    &> pre,
    &> blockquote  {
      margin: 45px
    }

    &> aside {
      padding: 17px 35px;
    }

    &> pre {
      border: solid 1px #e4e4e4;
      background: #fbfbfb;
    }
  }

  .category {
    float: right;
  }

  .panels {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    a {
      &:hover {
        text-decoration: none !important;
      }
    }
    .panel {
      display: inline-block;
      width: 50%;

      .panel-content {
        color: #555;
        padding: 10px 5px;
      }
    }
  }
}


// responsive transitions
.content {
  transition: all 0.2s;

  .panels {
    .panel {
      transition: all 0.2s;
    }
  }
}

//default: x-large


//large desktop
@media (max-width: 1500px) {
  .container {
    .page-wrapper {
      padding: 10px 0 55px;
    }
  }
}



//medium desktop
@media (max-width: 1295px) {
  .content {
    margin: 25px 35px;

    .main-content {
      >aside {
        margin: 25px;
      }
    }

    .panels {
      .panel {
        width: 100%;
      }
    }
  }
}


@media (max-width: $tablet-width) {
  .content {
    padding: 0;
    margin: 0;

    .panels {
      display: block;
    }

    .main-content {
      float: none;
      width: auto;
    }
  }
}
