<header>
  <div class="wrapper">
    <a class="logo" href="http://kuzzle.io/">
      <img src="{{ link paths.href '/assets/images/kuzzle-logo-blue.png' }}">
    </a>
    <h1>Docs</h1>
    <div class="search">
      <input name="search" type="search" placeholder="Search anything... (alt + S)" tabindex="1" />
      <div class="search-results"><ul></ul></div>
      <script type="text/plain" id="search-results-template">
        <li>
          <a href="__link__" tabindex="__tabindex__">
            <p class="page">
              <span class="title">__title__</span>
              <span class="firstMember">__firstMember__</span>
              <span class="parent">__parent__</span>
            </p>
            <p class="preview">__preview__</p>
          </a>
        </li>
      </script>
    </div>
  </div>
  <nav>
    <a class="logo-phone" href="http://kuzzle.io/">
      <img src="{{ link paths.href '/assets/images/kuzzle-logo.png' }}">
    </a>
    <ul>
      <li class="btn-hamburger">
        <a class="nav-item" href="">
          <i class="icon icon-menu"></i>
        </a>
      </li>
      {{#if (startwith path "guide") }}
      <li class="active">
      {{else}}
      <li>
      {{/if}}
        <a href="{{ link paths.href '/guide/getting-started/index.html' }}" class="nav-item developers">Guide</a>
      </li>
      {{#if (startwith path "api") }}
      <li class="active">
      {{else}}
      <li>
      {{/if}}
        <a href="{{ link paths.href '/api-documentation/connecting-to-kuzzle/index.html' }}" class="nav-item">API</a>
      </li>
      {{#if (startwith path "sdk") }}
      <li class="active">
      {{else}}
      <li>
      {{/if}}
        <a href="{{ link paths.href '/sdk-reference/kuzzle/index.html' }}" class="nav-item">SDK</a>
      </li>
      {{#if (startwith path "plugins") }}
      <li class="active">
      {{else}}
      <li>
      {{/if}}
        <a href="{{ link paths.href '/plugins-reference/plugins-creation-prerequisites/index.html' }}" class="nav-item ">Plugins</a>
      </li>
      {{#if (mstartwith path "cookbooks" "elasticsearch" "kuzzle-dsl" "validation" "kuzzle-events") }}
      <li class="dropdown-btn active">
      {{else}}
      <li class="dropdown-btn">
      {{/if}}
        <a href="{{ link paths.href '/cookbooks/index.html' }}" class="nav-item item-cookbooks">Cookbooks <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="nav-dropdown">
          {{#if (startwith path "elasticsearch") }}
          <li class="active">
          {{else}}
          <li>
          {{/if}}
            <a href="{{ link paths.href '/elasticsearch-cookbook/installation/index.html' }}" class="dropdown-item ">Elasticsearch</a>
          </li>
          {{#if (startwith path "kuzzle-dsl") }}
          <li class="active">
          {{else}}
          <li>
          {{/if}}
            <a href="{{ link paths.href '/kuzzle-dsl/essential/koncorde/index.html' }}" class="dropdown-item ">Koncorde</a>
          </li>
          {{#if (startwith path "validation") }}
          <li class="active">
          {{else}}
          <li>
          {{/if}}
            <a href="{{ link paths.href '/validation-reference/schema/index.html' }}" class="dropdown-item ">Validation</a>
          </li>
          {{#if (startwith path "kuzzle-events") }}
          <li class="active">
          {{else}}
          <li>
          {{/if}}
            <a href="{{ link paths.href '/kuzzle-events/plugin-events/index.html' }}" class="dropdown-item ">Events</a>
          </li>
          <li><!-- necessary to make previous element's pseudo ::after exist --></li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/kuzzleio/kuzzle" target="_blank" class="nav-item github">
          <i class="icon icon-github icon-small"></i>
        </a>
      </li>
    </ul>

    <div class="spacer"></div>

    {{> cta-buttons }}

    <div style="clear:both"></div>
  </nav>
</header>
