
<!doctype html>
<html>
<head>
  {{> common-meta }}

  <link href="{{ site_base_path }}assets/stylesheets/category-childrens/screen.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body class="index">
{{> header }}

<div class="container">
  <div class="page-wrapper">
    <div class="content">
      {{> nav-siblings }}

      <div class="main-content">
        {{{ contents }}}
        <div style="clear: both"></div>
      </div>

      <div class="categories">
        <div class="panels">
          {{#each ancestry.children}}
          {{#if separator}}
            </div>
            <hr />
            <div class="main-content">
              <h1><a class="anchor" id="{{ separator }}"></a>{{ separator }}</h1>
            </div>
            <div class="panels">
          {{/if}}

          <div class="panel">
            {{#if show-subheader}}
            <a href="{{ ../site_base_path }}{{ path }}">
            {{else}}
            <a href="{{ ../site_base_path }}{{firstDefinedOf ancestry.nextMember.path path }}">
            {{/if}}
              <div class="panel-title"><i class="fa {{ icon }}"></i> {{ title }}</div>
              <div class="panel-content">
                <span>{{ description }}</span>
              </div>
            </a>
          </div>
         {{/each}}
      </div>

      {{> nav-siblings-bottom }}
  </div>
</div>


{{> footer-scripts }}
</body>
</html>
