
<!doctype html>
<html>
<head>
  {{> common-meta }}

  <link href="/assets/stylesheets/category-childrens/screen.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body class="index">
{{> header }}

<div class="container">
  <div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content" style="padding: 0">
      {{> nav-siblings }}

      <div class="categories">
        <div class="panels">
          {{#each ancestry.members}}

          {{#if (or show-subheader (ne @key 0))}}
            <div class="panel" style="width:25%">
              <a href="/{{ path }}">
                <div class="panel-title"><i class="fa {{ icon }}"></i> {{ title }}</div>
                <div class="panel-content">
                  <span>{{ description }}</span>
                </div>
              </a>
            </div>
          {{/if}}
          {{/each}}

        </div>
      </div>

      {{> nav-siblings-bottom }}
    </div>
  </div>
</div>


{{> footer-scripts }}
</body>
</html>
