@charset "utf-8";
@import '../normalize';
@import '../variables';
@import '../syntax';
@import '../icon-font';
@import '../default';
@import '../content';


.content {
  #disqus_thread {
    margin: 30px 0;
  }

  .reading-time {
    text-align: right;

    p {
      padding: 0 25px;
    }
  }

  .toc-inline {
    max-height: 0;
    padding: 0 15px;
    overflow: hidden;
    border-bottom: solid 5px #f0f0f0;
    transition: all 0.4s;

    ul {
      list-style: none;
      margin: 0;

      li {
        padding-top: 2px;
        opacity: 0;
        transition: all 0.4s;

        a {
          font-size: 12px;
        }


        &.toc-level-2 {
          a {
            &:before {
              padding-left: 2px;
              padding-right: 2px;
              content: "›";
            }
          }
        }

        &.toc-level-6,
        &.toc-level-5,
        &.toc-level-4,
        &.toc-level-3 {
          a {
            padding-left: 15px
          }
        }
      }
    }
  }

  .main-content {
    &> p {

      a.image {
        display: block;
        margin: 25px auto;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

  }
}

.container {

  .page-wrapper {

    .toc {
      position: fixed;
      padding: 2px 4px 9px;
      left: 1355px;
      top: 166px;
      overflow: auto;
      border-left: solid 6px #dedede;
      min-width: 230px;
      transition: all 0.1s;

      .toc-level-2 {
        a {
          &:before {
            padding-left: 2px;
            padding-right: 2px;
            content: "›";
          }
        }
      }
      .toc-level-6,
      .toc-level-5,
      .toc-level-4,
      .toc-level-3 {
        a {
          padding-left: 15px
        }
      }

      ul {
        margin: 0;
        li {
          padding: 3px 6px;
          list-style: none;

          // &.toc-level-1 {
          //   font-size: 14px;
          // }
          // &.toc-level-2 {
          //   font-size: 13px;
          // }
          // &.toc-level-3 {
          //   font-size: 12px;
          // }
          // &.toc-level-4 {
          //   font-size: 11px;
          // }

          a {
            color: #333;
            text-decoration: none;
            font-size: 12px;
            transition: color 0.2s;

            &:hover {
              color: #002835;
              text-decoration: underline;
            }

            &.active {
              color: #3498e4;
              &:before {
                color: #3498e4;
              }
            }
          }
        }
      }
    }
  }
}














// responsive transitions
.container {
  .page-wrapper {
    .toc {
      opacity: 1;
      transition: opacity 2s;
    }
  }
}

//default: x-large



//large desktop
// @media (max-width: 1500px) {
//   .container {
//     .page-wrapper {
//       padding: 0 0 55px 0;
//     }
//   }
//   .content {
//     max-width: 900px;
//     margin: 0;
//   }
// }



//medium desktop
// @media (max-width: 1295px) {

//   .container {
//     .page-wrapper {
//       .toc {
//         opacity: 0;
//       }
//     }
//   }
//   .content {
//     width: 100%;
//     max-width: none;

//     .toc-inline {
//       padding: 15px 15px;
//       max-height: 500px;

//       ul {
//         li {
//           opacity: 1;
//         }
//       }
//     }
//   }
// }


// @media (max-width: $tablet-width) {

// }
