@charset "utf-8";
@import '../normalize';
@import '../variables';
@import '../syntax';
@import '../icon-font';
@import '../default';


.content {
  max-width: 95%;
  margin: 0 auto;

  pre, blockquote {
    float: right;
    clear: right;
    width: 50%;
  }

  #disqus_thread {
    margin: 45px auto 25px auto;
    width: 55%;
  }


  .main-content {
    > p, > ul, > dt, > dd {
      max-width: 85%;
    }
    > p, > table {
      padding: 0 15px;

      code {
        padding: 5px 8px 3px;
        border-radius: 4px;
        word-break: normal;
        font-size: 12px;
      }
    }
    > aside {
      width: 45%;
      padding: 16px 34px;
      margin: 30px 0 30px 30px;
    }

    > pre {
      margin: 0 0 30px 30px;
      .clipboard {
        background: rgba(255, 255, 255, 0.07);
        font-size: 11px;
        opacity: 0;
        color: #fff;

        i {
          color: #bbb;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.15);

          i {
            color: #fff;
          }
        }
      }
      &:hover {
        .clipboard {
          opacity: 1;
        }
      }
    }

    > .language-tab-selector,
    > blockquote {
      margin: 0 0 0 30px;
    }

    > table {
      margin: 25px;
    }

    blockquote + pre,
    pre + aside,
    pre + pre,
    div + pre {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }

    inspector-stylesheet:5

  }
}

.container {
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;

  .page-wrapper {
    padding: 25px 0 55px 0
  }
}









// responsive transitions
.content {
  .main-content {
    pre,
    aside,
    .language-tab {
      transition: all 0.2s;
    }
  }
}

//default: x-large


//large desktop
@media (max-width: 1500px) {
  .container {
    .page-wrapper {
      padding: 10px 0 55px 0;
    }
  }
}



//medium desktop
@media (max-width: 1295px) {
  .content {
    width: 100%;
    max-width: none;

    .main-content {
      >pre,
      >aside,
      >div,
      >blockquote,
      >.language-tab-selector,
      >.language-tab {
        width: auto;
        float: none;
        margin: 0 25px;
      }

      >.language-tab-selector {
        margin-top: 35px;
      }
    }
  }
}


@media (max-width: $tablet-width) {

}
