@charset "utf-8";
@import '../normalize';
@import '../variables';
@import '../syntax';
@import '../icon-font';
@import '../default';
@import '../content';

.container {
  .page-wrapper {
    .content {
      max-width: 95%;
      margin: 0 auto;

      pre, blockquote {
        float: right;
        clear: right;
        width: 50%;

        @media (max-width: $desktop-width) {
          float: none;
          width: 100%;
        }
      }

      .main-content {
        > p, > ul, > dt, > dd {
          max-width: 65%;

          @media (max-width: $phone-width) {
            max-width: 100%;
          }
        }

        > aside {
          width: 45%;
          padding: 16px 34px;
          margin: 30px 0 30px 30px;

          @media (max-width: $desktop-width) {
            margin-left: 0;
            width: 100%;
          }
        }

        pre {
          margin: 0 0 30px 30px;
          border-radius: 0;

          @media (max-width: $desktop-width) {
            margin: 0;
          }

          code {
            border-radius: 0;
          }

          .clipboard {
            background: rgba(255, 255, 255, 0.07);
            font-size: 11px;
            opacity: 0;
            color: #fff;

            i {
              color: #bbb;
            }

            &:hover {
              background: rgba(255, 255, 255, 0.15);

              i {
                color: #fff;
              }
            }
          }
          &:hover {
            .clipboard {
              opacity: 1;
            }
          }
        }

        .noside {
          pre {
            float: none;
            clear: none;
            max-width: 45%;
            border: solid 1px #e4e4e4;
            background: #fbfbfb;
            border-radius: 4px;
            margin: 20px 0 0;
            @media (max-width: $desktop-width) {
              max-width: 100%;
            }
            .clipboard {
              i {
                color: #666;
              }
            }
            code.hljs {
              display: block;
              overflow-x: auto;
              padding: 25px;
              color: #383a42;
              background: #fafafa;
            }
          }
        }

        > .language-tab-selector,
        > blockquote {
          margin: 0 0 0 30px;

          @media (max-width: $desktop-width) {
            margin: 0;
          }
        }

        > .language-tab-selector {
          @media (max-width: $desktop-width) {
            margin-top: 15px;
          }
        }

        > table {
          margin: 25px;

          @media (max-width: $desktop-width) {
            margin: 25px 0;
          }
        }

        blockquote + pre,
        pre + aside,
        pre + pre,
        div + pre {
          margin-bottom: 0 !important;
          margin-top: 0 !important;
        }

        inspector-stylesheet:5

      }

      #disqus_thread {
        max-width: 960px;
        margin: 30px auto;
      }
    }
  }
}


// responsive transitions
.content {
  .main-content {
    pre,
    aside,
    .language-tab {
      transition: all 0.2s;
    }
  }
}

//default: x-large


//large desktop
@media (max-width: $large-desktop-width) {
  .container {
    .page-wrapper {
      padding: $header-height 0 55px 0;
    }
  }
}



//medium desktop
@media (max-width: $desktop-width) {
  .content {
    width: 100%;
    max-width: none;

    .main-content {
      >pre,
      >aside,
      >div,
      >blockquote,
      >.language-tab-selector,
      >.language-tab {
//         width: auto;
//         float: none;
//         margin: 0 25px;
      }

      >.language-tab-selector {
        margin-top: 35px;
      }
    }
  }
}


@media (max-width: $desktop-width) {

}

//phone
@media (max-width: $phone-width) {
  .container {
    .page-wrapper {
      padding-top: $header-height-phone;
    }
  }
}
