.content {
   &:after {
    content: '';
    display: block;
    clear: both;
  }

  h1, h2,  h3,  h4,  h5,  h6,  ul,  ol,  aside,  dl {
    box-sizing: border-box;
    display: block;
  }

  h1 {
    font-family: $text-font-family;
    clear: both;
    @extend %header-font;
    font-size: 4em;

    @media (max-width: $large-desktop-width) {
      font-size: 3.5em;
    }

    @media (max-width: $desktop-width) {
      font-size: 3em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    a {
      color: #3498db;
      text-decoration: none;
      font-weight: 600;
    }

    + ul {
      margin-top: 25px
    }

    padding-top: $h1-margin-bottom;
  }

  h2 {
    @extend %header-font;
    font-size: 2.5em;
    padding-top: 30px;

    @media (max-width: $large-desktop-width) {
      font-size: 2.25em;
    }

    @media (max-width: $desktop-width) {
      font-size: 2em;
    }
  }

  h3, h4, h5, h6 {
    @extend %default-font;
    font-weight: 500;
    padding-top: 30px;
  }

  h3, h3 code, h4, h4 code {
    font-size: 16px;
  }

  h5, h5 code, h6, h6 code {
    font-size: 14px;
  }

  h4, h5, h6 {
    &> span {
      border-bottom: dashed 1px;
      padding: 0 2px 3px 2px;
      display: inline-block;
    }
  }

  p {
    padding-top: 20px;

    & + h1,
    & + h2,
    & + h3,
    & + h4 {
      padding-top: 40px;
    }

    & + p {
      padding-top: 10px;
    }

    & + table {
      margin-top: 20px;
    }
  }

  .clear {
    clear: both;
  }

  a[href] {
    &:hover {
      text-decoration: underline !important;
    }
  }

  .main-content {
    a[href^="http"]:not([link-exclude])::after {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      background-repeat: no-repeat;
      background-position: center right;
      background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%233498db%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%233498db%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    }
  }

  table,
  li,
  p,
  aside {
    a, a:visited {
      @extend %link-font;

      &.image {
        display: block;
        margin: 25px auto;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  table {
    margin-bottom: 1em;
    overflow: auto;

    th,td {
      text-align: left;
      vertical-align: top;
      line-height: 1.6;
    }

    th {
      padding: 5px 40px 5px 10px;
      border-bottom: 1px solid #ccc;
      vertical-align: bottom;
    }

    td {
      padding: 10px;
    }

    tr:last-child {
      border-bottom: 1px solid #ccc;
    }

    tr:nth-child(odd)>td {
      background-color: lighten($main-bg,4.2%);
    }

    tr:nth-child(even)>td {
      background-color: lighten($main-bg,2.4%);
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 15px;
  }

  p, li, dt, dd {
    color: #444;
    line-height: 1.6;
  }

  img {
    max-width: 100%;
  }

  pre,
  aside {
    margin: 20px 0 0 0;
  }

  aside {
    padding: 17px 35px;
    border-radius: 4px;
    padding: 25px 40px;
    background: $light;
    color: $dark;
    line-height: 1.6;
    position: relative;

    > p:first-child {
      margin-top: 0
    }

    &:before {
      vertical-align: middle;
      padding-right: 0.5em;
      font-size: 18px;

      position: absolute;
      top: 28px;
      left: 14px;
    }

    &.notice{
      &:before {
        @extend %icon-info-sign;
      }
    }

    &.warning {
      background-color: #E08E79;
      color: #F9EAEB;

      &:before {
        @extend %icon-exclamation-sign;
      }

      p, li, dt, dd {
        color: #F9EAEB !important;
      }

      a {
        color: #fefefe;
      }

      a[href^="http"]::after {
        background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill-opacity%3D%220%22%20stroke%3D%22%23fff%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill-opacity%3D%220%22%20%2F%3E%3C%2Fsvg%3E);
      }
    }

    &.success {
      background-color: $medium;
      color: $dark;

      &:before {
        @extend %icon-ok-sign;
      }
    }
  }
}
