@font-face {
  font-family: 'slate';
  src:url('../../../assets/fonts/slate.eot?-syv14m');
  src:url('../../../assets/fonts/slate.eot?#iefix-syv14m') format('embedded-opentype'),
    url('../../../assets/fonts/slate.woff2?-syv14m') format('woff2'),
    url('../../../assets/fonts/slate.woff?-syv14m') format('woff'),
    url('../../../assets/fonts/slate.ttf?-syv14m') format('truetype'),
    url('../../../assets/fonts/slate.svg?-syv14m#slate') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Gobold Uplow';
  src: url('GoboldUplow.eot');
  src: url('GoboldUplow.eot?#iefix') format('embedded-opentype'), url('GoboldUplow.woff') format('woff'), url('GoboldUplow.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
*/

@font-face {
  font-family: 'Gobold';
  src: url('../../../assets/fonts/Gobold.eot');
  src: url('../../../assets/fonts/Gobold.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Gobold.woff') format('woff'),
    url('../../../assets/fonts/Gobold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

%icon {
  font-family: 'slate';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: "\e600";
}
%icon-info-sign {
  @extend %icon;
  content: "\e602";
}
%icon-ok-sign {
  @extend %icon;
  content: "\e606";
}
%icon-search {
  @extend %icon;
  content: "\e607";
}
